@use 'src/styles/index' as *;

.main-navbar {
    height: 70px;
    background: $bg-body;
    font-family: $code-font;

    .btn-action {
        color: $text-dark;
    }

    .mx-2{
        margin: 0 8px;
    }

    .menu-ul {
        align-items: center;
        li {
            &.li-action{
                min-width: 160px;
                font-size: 10px !important;
                @include alignFlex();
            }
            &:last-child{
                min-width: 165px;
            }
            margin: 0px 13px;
            transition: all .3s ease;
        }

        li:first-child {
            margin-left: 0px;
        }

        li:last-child {
            margin-right: 0px;
        }
    }

    ::ng-deep .btn-action-mobile{
        padding: .5em 1em;
        font-size: 10px !important;
    }

    .menu-responsive {
        position: fixed;
        top: 0px;
        bottom: 0px;
        right: 0px;
        width: 100%;
        height: 100vh;
        z-index: 10;
        transform: translateX(0vw);
        visibility: visible;
        outline: 0px;
        transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
        
        aside {
            padding: 0 !important;
        }

        li {
            a {
                display: flex !important;
            }

            .cv-btn {
                width: fit-content !important;
                margin-left: 20px;
            }

            .language-container {
                &.group {
                    width: 100%;
                    @include alignFlex();
                    gap: 4px;
                }

                width: fit-content;
                height: 30px;
                margin-bottom: 5px;
                padding: 4px !important;
            }

            .language-container-selector {
                display: flex;

                img {
                    width: 35px;
                }
            }

        }
    }

    .aside-show {
        transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
        right: 0px;
        background: $bg-white;
    }

    aside {
        width: 75vw;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        flex-direction: column;
        background-color: $bg-main;
        height: 100%;
        position: relative;
        right: -625px;
        margin-left: auto;
        font-family: $code-font;
        box-shadow: 2px 0 20px 0 rgba(82, 82, 83, 0.7);
        padding: 25px;
        transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;

        nav {
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            align-items: center;
            width: 100%;
            flex-direction: column;
            text-align: center;
            color: $text-dark;

            ol {
                width: 100%;
                padding: 0px;
                margin: 0px;
                list-style: none;

                li {
                    .language-container {
                        span {
                            color: $text-dark;
                        }

                        &.active {
                            span {
                                color: $text-white;
                            }
                        }
                    }

                    font-size: 16px;
                    margin: 0px auto 10px;

                    span {
                        display: block;
                        font-size: 14px;
                        margin-bottom: 5px;
                    }

                    a {
                        display: inline-block;
                        text-decoration-skip-ink: auto;
                        color: inherit;
                        position: relative;
                        cursor: pointer;
                        width: 100%;
                        text-decoration: none;
                        transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
                        padding: 3px 20px 20px;
                    }
                }
            }
        }
    }

    .nav-link {
        padding: 5px 0px;
        color: inherit;
        margin: 0px;
        font-size: 13px;
        transition: all .3s ease;

        &:hover {

            .nav-text,
            .nav-number {
                font-weight: 600;
            }
        }

        &.cv-btn {
            padding: 7px 15px !important;

            &:hover {
                background: $bg-highlight;
                color: $text-white;
            }
        }
    }


    .nav-number {
        color: $text-dark;
        font-size: 12px;
    }

    .nav-text {
        color: $text-dark !important;
        padding-bottom: 4px;
        transition: font-weight .3s ease;
    }

    .menu-wrapper {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 36px;
        height: 60px;
        cursor: pointer;
        z-index: 11;

        .hamburger-menu,
        .hamburger-menu:after,
        .hamburger-menu:before {
            width: 36px;
            height: 1.5px;
        }

        .hamburger-menu {
            position: relative;
            transform: translateY(25px);
            background: $bg-dark;
            transition: all 0ms 300ms;

            &:before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 8px;
                background: $bg-dark;
                transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
            }

            &:after {
                content: "";
                position: absolute;
                left: 0;
                top: 8px;
                background: $bg-dark;
                transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
            }

            &.animate {
                background: rgba(255, 255, 255, 0);

                &:after {
                    top: 0;
                    transform: rotate(45deg);
                    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
                }

                &:before {
                    bottom: 0;
                    transform: rotate(-45deg);
                    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
                }
            }
        }
    }
}

.on-top {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9;
    height: 100px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.nav-shadow {
    background: $bg-white;
    height: 70px;
    box-shadow: 0 0px 3px 0px rgba(82, 82, 83, 0.7);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

@media (max-width: 1000px) {
    .main-navbar {
        .nav-link {
            margin: 0;
            padding: .5rem .7rem;
        }
    }
}

@media (max-width: 827px) {
    nav .nav {
        display: none;
    }
}

@media (min-width: 827px) {

    .menu-wrapper,
    .menu-responsive {
        display: none;
    }
}

.flag-text {
    color: inherit;
    margin: 0 10px;
    font-size: 13px;
    font-family: $code-font;
}

.language-container {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 4px;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown.show>.language-container {
    box-shadow: none;
}

.language-container-selector {
    margin: 0 !important;
    color: $text-dark !important;
    padding: 11px 8px !important;
    text-align: center;
    background: $bg-main !important;
    transition: letter-spacing .3s ease;

    &:hover {
        letter-spacing: 1.5px;
    }
}

.language-container-selector.active {
    margin: 0 !important;
    color: $text-white !important;
    padding: 11px 8px !important;
    text-align: center;
    background: $bg-dark !important;
}

.arrow-language {
    font-size: 10px;
    height: 10px;
    width: 10px;
    fill: $text-dark;
}

::ng-deep .dropdown-toggle::after {
    display: none;
}

::ng-deep .dropdown-menu.show {
    padding: 0 !important;
    border-radius: 7px !important;
    background: $bg-main !important;
    margin-top: 5px !important;
    left: 10px !important;
    box-shadow: $box-shadow-primary;
    border: none !important;
}

.arrow-active {
    font-size: 20px;
    height: 20px;
    width: 25px;
    fill: $text-white;
    visibility: hidden;
}

.position-relative{
    position: relative;
}

.language-container-selector.active {
    .arrow-active {
        visibility: inherit;
    }
}

/* Logo */

.svg-logo{
    width: 0;
    height: 0;
}

.cercles {
    filter: url(#flou);
}

.cercles div {
    background: #50577A;
}

.cercles div:nth-child(2) {
    background: #1B2430;
}

.cercles div:nth-child(3) {
    background: #393E46;
}


.cercle {
    border-radius: 50%;
    background: black;
    height: 20px;
    width: 20px;
    margin-top: 50%;
}


.cercles {
    top: -35px;
    left: 10px;
    position: absolute;
}

.bouge {
    animation: animcercle 3s linear infinite;
}

.bouge2 {
    animation: animcerclo 5s linear infinite;
}


@keyframes animcercle {
    0% {
        transform: translate(0%);
    }

    50% {
        transform: translate(0%, 100%);
    }

    100% {
        transform: translate(0%);
    }

}

@keyframes animcerclo {
    0% {
        transform: translate(0%);
    }

    50% {
        transform: translate(0%, -100%);
    }

    100% {
        transform: translate(0%);
    }

}

/* End logo */