<footer>
    <div [@animateFooter]>
        <ul class="footer-left-bar d-none d-md-block">
            <li (click)='analyticsService.sendAnalyticEvent("click_github", "footer", "github")' matRipple>
                <i class="fab fa-github"></i>
            </li>
            <li (click)='analyticsService.sendAnalyticEvent("click_linkedin", "footer", "linkedin")' matRipple>
                <i class="fab fa-linkedin-in"></i>
            </li>
            <li (click)='analyticsService.sendAnalyticEvent("click_facebook", "footer", "facebbok")' matRipple>
                <i class="fab fa-facebook"></i>
            </li>
            <li (click)='analyticsService.sendAnalyticEvent("click_twiter", "footer", "twiter")' matRipple>
                <i class="fab fa-twitter"></i>
            </li>
        </ul>
        <div class="footer-right-bar d-none d-md-block">
            <a (click)='analyticsService.sendAnalyticEvent("click_send_mail", "footer", "email")'
                href="mailto:nguyen.thuong.work@gmail.com" target='_blank'>nguyen.thuong.work@gmail.com </a>
        </div>
    </div>

    <div class="footer-credits text-center">
        <a (click)='analyticsService.sendAnalyticEvent("click_portfolio_thuong", "footer", "click")' href="#"
            rel="nofollow noopener noreferrer">
            <div>Angular</div>
        </a>
    </div>

</footer>