<footer *ngIf="information">
    <div [@animateFooter]>
        <ul class="footer-left-bar d-none d-md-block">
            <li (click)='analyticsService.sendAnalyticEvent("click_github", "footer", "github",onClickLinkIcon(information.github))' matRipple>
                <i class="fab fa-github"></i>
            </li>
            <li (click)='analyticsService.sendAnalyticEvent("click_linkedin", "footer", "linkedin",onClickLinkIcon(information.linkedln))' matRipple>
                <i class="fab fa-linkedin-in"></i>
            </li>
            <li (click)='analyticsService.sendAnalyticEvent("click_facebook", "footer", "facebbok",onClickLinkIcon(information.facebook))' matRipple>
                <i class="fab fa-facebook"></i>
            </li>
            <li (click)='analyticsService.sendAnalyticEvent("click_twiter", "footer", "twiter",onClickLinkIcon(information.twiter))' matRipple>
                <i class="fab fa-twitter"></i>
            </li>
        </ul>
        <div class="footer-right-bar d-none d-md-block">
            <a (click)='analyticsService.sendAnalyticEvent("click_send_mail", "footer", "email")'
                href="mailto:{{information.email}}" target='_blank'>{{information.email}}</a>
        </div>
    </div>

    <!-- <div class="footer-credits text-center">
        <a (click)='analyticsService.sendAnalyticEvent("click_portfolio_thuong", "footer", "click")' href="#"
            rel="nofollow noopener noreferrer">
            <div>Angular</div>
        </a>
    </div> -->

</footer>