<section *ngIf="information" id="banner" class="section banner">
    <div [@bannerTrigger] class="container">
        <div class="section-box-banner">
            <div class="content">
                <div>
                    <h1>{{"BANNER.TITLE" | translate}}</h1>
                </div>
                <div class='banner-title'>
                    <h2>{{information.name}}</h2>
                    <h4>{{information.profession}}</h4>
                </div>
                <div class='banner-description'>
                    <p [innerHTML]='information.bannerContent' class="mt-4 user-select-none"></p>
                </div>
            </div>
            <div class="div-btn-banner">
                <!-- <button mat-raised-button class="btn-action" (click)='analyticsService.sendAnalyticEvent("click_send_mail", "banner", "email")' >
                    {{"BANNER.ACTION" | translate}}
                </button> -->
                <app-button-custom (onClickEvent)="onClick($event)" title="{{'BANNER.ACTION' | translate}}"></app-button-custom>
            </div>
        </div>
    </div>
</section>
