@use 'src/styles/index.scss' as *;

.banner {
    min-height: 100vh;

    ::ng-deep .mat-button-focus-overlay {
        background-color: transparent !important;
    }

    .container {
        display: table;
        height: 100vh;

        .btn-action {
            transition: all .3s ease;

            &:hover {
                background: $bg-highlight;
                color: $text-white;
            }
        }

        .section-box-banner {
            display: table-cell;
            vertical-align: middle;

            .content {
                margin-top: 50px;
            }

            h1 {

                color: $text-dark;
                margin: 0 0 20px 3px;
                font-size: 16px;
                font-weight: normal;
                font-family: $code-font;
            }

            h2,
            h3 {
                font-weight: 600;
                font-size: 80px;
                line-height: 1.1;
                margin: 0;
                font-family: $main-font;
            }

            h2 {
                color: $text-header;
            }

            h3 {
                color: $text-sub-title;
            }

            .banner-description {
                margin-bottom: 70px;
            }

            p {
                max-width: 500px;
            }

            .div-btn-banner {
                height: 43px;
            }
        }
    }
}