@use 'src/styles/index.scss' as *;

.projects {
    .project-container {
        height: 360px;
        margin: 100px 0;

        .project-info-left {
            width: 50%;
            margin-right: -57px;
            margin-left: 0px;
            display: table;
        }

        .project-info-right {
            width: 50%;
            margin-left: -57px;
            margin-right: 0px;
            display: table;
        }

        .project-box {
            display: table-cell;
            vertical-align: middle;

            .feature-project {
                font-size: 13px;
                font-weight: normal;
                color: $text-dark;
                font-family: $code-font;
                margin-top: 10px;
                padding-top: 0;
            }

            .project-name {
                font-size: 28px;
                margin: 0 0 20px;
                color: $text-sub-title;
            }

            .project-desc-box {
                box-shadow: 4px 4px 20px #a3a3a345, -8px -8px 20px #93929224;
                -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
                transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
                position: relative;
                z-index: 2;
                padding: 24px;
                background: $bg-gradient-2;
                color: $text-sub-title;
                font-size: 16px;
                border-radius: 4px;
            }

            .project-skills {
                position: relative;
                z-index: 2;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-flex-wrap: wrap;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                padding: 0;
                margin: 25px 0 10px;
                list-style: none;

                li {
                    margin-right: 0;
                    font-family: $code-font;
                    font-size: 13px;
                    color: $Slate;
                    margin-bottom: 7px;
                    white-space: nowrap;
                    transition: all .3s ease;
                    .technology {
                        padding-bottom: 5px;
                        &:hover{
                            font-weight: 600;
                            color: $text-dark;
                        }
                    }
                }
            }

            .project-links {
                margin-top: 10px;
                gap: 4px;
                .link-icon{
                    @include alignFlex();
                    text-decoration: none;
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    background: $bg-gradient;
                    box-shadow: $box-shadow-primary;
                    &:hover{
                        i{
                            color: $text-dark;
                        }
                    }
                }
                i {
                    font-size: 1em;
                    color: $text-icon;
                    transition: color .3s ease;
                }
            }
        }
    }
}

.owl-carousel-o {
    width: 600px;
}

.img-feature-project-container {
    display: none;
}

@media (min-width: 768px) and (max-width: 1300px) {
    .owl-carousel-o {
        display: none;
    }

    .img-feature-project-container {
        width: 50%;
        display: table !important;
        height: -webkit-fill-available;

        .img-feature-project-box {
            display: table-cell;
            vertical-align: middle;
        }

        .img-feature-project {
            width: 100%;
        }
    }

    .project-info-right,
    .project-info-left {
        width: 50%;
    }
}

@media (min-width: 768px) {

    .project-info-right,
    .project-info-left {
        background-image: none !important;
    }
}

@media (max-width: 768px) {
    .owl-carousel-o {
        display: none;
    }

    .projects {
        .project-container {
            height: 100% !important;
            margin: 33px 0 !important;

            .project-info-left {
                width: 100%;
            }

            .project-info-right {
                width: 100%;
            }

            .project-desc-box {
                padding: 0px !important;
                box-shadow: none !important;
                position: relative;
                z-index: 2;
                padding: 25px;
                background: transparent !important;
                color: $text-dark;
                font-weight: 600;
                font-size: 18px;
                border-radius: 3px;
            }

            .project-info-right,
            .project-info-left {
                display: block !important;
                margin: 0px !important;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                border-radius: 3px;

                .project-box {
                    display: block;
                    .project-links{
                        justify-content: center;
                    }
                }
            }

            .img-feature-project-container {
                display: none;
            }
        }

        .project-info-right,
        .project-info-left {
            padding: 0px;
        }

        .text-right,
        .text-left {
            text-align: center !important;
        }

        .justify-content-end {
            justify-content: center !important;
        }

        .justify-content-start {
            justify-content: center !important;
        }

        .project-info-right .project-box,
        .project-info-left .project-box {
            padding: 20px;
            background: $bg-gradient-2;
            border-radius: 4px;
            box-shadow: $box-shadow-primary;
        }
    }
}

::ng-deep .owl-theme .owl-dots .owl-dot.active span,
::ng-deep .owl-theme .owl-dots .owl-dot:hover span {
    background-color: $bg-dark !important;
}

::ng-deep .owl-theme .owl-dots .owl-dot span {
    background: $bg-gradient;
}

.img-container {
    width: 600px;
    max-height: 320px;
    overflow: auto;
    border-radius: 3px;
}